header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 36px;
    background-color: darkgray;
    padding: 10px;
}

nav li{
    display: inline;
    font-size: 20px;
    padding: 8px 16px;
}

nav li a{
    text-decoration: none;
    color: gray;
}

nav li a:hover{
    text-decoration: underline;
    color: darkslategray;
}

article{
    margin: 40px 80px;
    padding: 20px 30px;
}

footer{
    padding: 8px 0;
    text-align: center;
    border-top: 1px solid gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: grey;
}

.naslov{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 28px;
    background-color: darkgray;
    padding: 8px 0;
}

.kontakt{
    margin-top: 30px;
}

table{
    margin-top: 30px;
    padding: 6px;
    border: 1px solid black;
}

th{
    background-color: grey;
}

td{
    padding: 4px;
    text-align: center;
}